<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbType" value="System.Data.SqlClient"/>
    <add key="imageRoot" value="G:\CMS\Source\Test\CMS.Winforms.Restaurant\Image"/>
    <add key="ipScope" value="192.168.63.*"/>
    <add key="cardPort" value="COM3"/>
    <add key="cardBaud" value="115200"/>
    <add key="printer1" value="local"/>
    <add key="printer2" value="mark"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=true;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
