<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbType" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=true;"/>
  </connectionStrings>
</configuration>