<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbType" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=MSDN-V-STWA01;Initial Catalog=CMS;Integrated Security=true;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
