USE [NHRBMSX]
GO
/****** 对象:  Table [dbo].[Rights]    脚本日期: 10/21/2013 22:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rights](
	[Serial] [int] IDENTITY(1,1) NOT NULL,
	[RightsGroup] [varchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[DiscountRight] [int] NULL CONSTRAINT [DF_Rights_DiscountRight]  DEFAULT (100),
	[RoundOff] [money] NULL CONSTRAINT [DF_Rights_RemoveOddment]  DEFAULT (0),
	[BookingFormConditionSetupMenu] [bit] NOT NULL,
	[DailyReportMenu] [bit] NOT NULL,
	[DatabaseBackupMenu] [bit] NOT NULL,
	[InvoiceConditionSetupMenu] [bit] NOT NULL,
	[OpenCashDrawerMenu] [bit] NOT NULL,
	[PaymentAuthority] [bit] NOT NULL,
	[PrintInvoiceAuthority] [bit] NOT NULL,
	[PrintJobListAuthority] [bit] NOT NULL,
	[PrintCheckBill] [bit] NULL,
	[RepeatPrintCheckoutBill] [bit] NULL,
	[TableInformationSetupMenu] [bit] NOT NULL,
	[Supervisor] [bit] NOT NULL,
	[BookingListMenu] [bit] NOT NULL,
	[OrderListMenu] [bit] NOT NULL,
	[StockReceiveMenu] [bit] NOT NULL,
	[InquirySalesHistoryMenu] [bit] NOT NULL,
	[InquiryStockReceiveMenu] [bit] NOT NULL,
	[VIPInformationMenu] [bit] NOT NULL,
	[SalesReportMenu] [bit] NOT NULL,
	[SalesStatisticsReportMenu] [bit] NOT NULL,
	[StockReportMenu] [bit] NOT NULL,
	[StockReceiveReportMenu] [bit] NOT NULL,
	[StatisticsChartMenu] [bit] NOT NULL,
	[SupplierInformationListMenu] [bit] NOT NULL,
	[ReceiptsReportMenu] [bit] NOT NULL,
	[ProfileSetupMenu] [bit] NOT NULL,
	[PrinterSetupMenu] [bit] NOT NULL,
	[CategorySetupMenu] [bit] NOT NULL,
	[MenuSetupMenu] [bit] NOT NULL,
	[PaymentsMethodSetupMenu] [bit] NOT NULL,
	[SupplierInformationSetupMenu] [bit] NOT NULL,
	[ClientAccountMenu] [bit] NULL,
	[AttendanceReportMenu] [bit] NOT NULL,
	[PresentAuthority] [bit] NULL,
	[OosFoodAuthority] [bit] NULL,
	[BarReportAuthority] [bit] NULL,
	[SalesVoidReportMenu] [bit] NULL,
	[PresentReportMenu] [bit] NULL,
	[UndoAuthority] [bit] NULL,
	[SpecialDiscountAuthority] [bit] NULL,
	[CostingQueryAuthority] [bit] NULL,
	[TipsAuthority] [bit] NULL,
	[PrintOrderSalesVoidAuthority] [bit] NULL,
	[ServiceChargeAuthority] [bit] NULL,
	[PrinterTestMenu] [bit] NULL,
	[CancelCheckOutAuthority] [bit] NULL,
	[BarVoidAuthority] [bit] NULL,
	[SalesSummaryReportMenu] [bit] NULL,
	[SalesCommissionReport] [bit] NULL,
	[DisCountReport] [bit] NULL,
	[TurnoverStatistics] [bit] NULL,
	[MenuItemSalesMenu] [bit] NULL,
	[CategoryAreaSalesReport] [bit] NULL,
	[TableUseMenu] [bit] NULL,
	[ShophoursSalesMenu] [bit] NULL,
	[TransferReport] [bit] NULL,
	[MenuItemSalesReport] [bit] NULL,
	[TipsReport] [bit] NULL,
	[SellManCommission] [bit] NULL,
	[TransLogQuery] [bit] NULL,
	[ICCardReport] [bit] NULL,
	[EventMenu] [bit] NULL,
	[DataExportAuthority] [bit] NULL,
	[PresentSnackAuthority] [bit] NULL,
	[AllDiscountAuthority] [bit] NULL,
	[MenuItemCostingAuthority] [bit] NULL,
	[CostCardAuthority] [bit] NULL,
	[SalesSort] [bit] NULL,
	[CycleSales] [bit] NULL,
	[ReceiptDayReport] [bit] NULL,
	[PaymentQuery] [bit] NULL,
	[ICCardInfo] [bit] NULL,
	[VipConsumeQuery] [bit] NULL,
	[DiscountCardQuery] [bit] NULL,
	[AddUpQuery] [bit] NULL,
	[AddUpReport] [bit] NULL,
	[PrinterError] [bit] NULL,
	[FoodGroupSetupMenu] [bit] NULL,
	[FoodClassSetupMenu] [bit] NULL,
	[MealsPackageSetupMenu] [bit] NULL,
	[AddUpRetrunRule] [bit] NULL,
	[SellMan] [bit] NULL,
	[DiscountCard] [bit] NULL,
	[PersentMenu] [bit] NULL,
	[SetBackFoodMenuForm] [bit] NULL,
	[CreateTxtForPDA] [bit] NULL,
	[MoneyDiscountAuthority] [bit] NULL,
	[AreaConnect] [bit] NULL,
	[UserCardConnect] [bit] NULL,
	[CategoryAreaConnect] [bit] NULL,
	[CategoryShophoursConnect] [bit] NULL,
	[ClientConsumeQuery] [bit] NULL,
	[ClientPaymentQuery] [bit] NULL,
	[CashPayOutMenuAuthority] [bit] NULL,
	[CashFloatMenuAuthority] [bit] NULL,
	[SetMealAuditingAuthority] [bit] NULL,
	[SeaFoodPlusMinusAuthority] [bit] NULL,
	[TransferAuthority] [bit] NULL,
	[HoldBillAuthority] [bit] NULL,
	[OrderAdjustAuthority] [bit] NULL,
	[ChangeServiceAuthority] [bit] NULL,
	[MonthSalesQueryMenu] [bit] NULL,
	[RecoverOldPrice] [bit] NULL,
 CONSTRAINT [PK_Rights] PRIMARY KEY CLUSTERED 
(
	[RightsGroup] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF