<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>琉香美食汇日报表</title>
</head>
<body>
    <object id="factory" style="DISPLAY: none" codeBase="smsx.cab#VVersion=6,3,435,20"  classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814" viewastext></object>
    <table style="width:100%">
        <thead><tr><th colspan="3">琉香美食汇</th></tr>
            <tr><td style="text-align:center;" colspan="3">2014/3/20~2014/3/20</td></tr>
        </thead>
        <tbody>
            <tr><th>挡口A</th><td>销售额</td><td>单据数</td></tr>
            <tr><th>挡口B</th><td>销售额</td><td>单据数</td></tr>
            <tr><th>挡口C</th><td>销售额</td><td>单据数</td></tr>
            <tr><th>挡口D</th><td>销售额</td><td>单据数</td></tr>
            <tr><th>应收合计：</th><td  colspan="2">应收合计金额</td></tr>
            <tr><th>实收合计：</th><td  colspan="2">实收合计金额</td></tr>
            <tr><th>总单数：</th><td  colspan="2">数量</td></tr>
            <tr><th>人均消费：</th><td  colspan="2">消费金额</td></tr>
            <tr><th>支付方式A：</th><td  colspan="2">金额</td></tr>
            <tr><th>打印时间：</th><td  colspan="2">2013-3-20 20:10:30</td></tr>
            <tr><th></th><th>打印人：</th><td>管理员</td></tr>
        </tbody>
        <tfoot>
            <tr><td colspan="3" style="text-align:right;"><input type="button" value="打印" /></td></tr>
        </tfoot>
        </table>
</body>
</html>