<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UpdateLocation" value="C:\DxEditorUpdate\"/>
    <add key="CheckUpdatesFrequency" value="1440"/>
    <add key="COMAddin" value="Microsoft.STB.WSDUA.DxEditor.Framework.dll"/>
    <add key="GACAssemblies" value="Microsoft.STB.WSDUA.DxEditor.Api.dll"/>
    <add key="Regsvr32Assemblies" value="NaturalLanguage6.dll"/>
    <add key="WordSchemaPropertyXPath" value="//pkg:package/pkg:part/pkg:xmlData/custom-properties:Properties/custom-properties:property[@name='Schema']/vt:lpwstr"/>
	<add key="LogUpdateMessages" value="false"/>
  </appSettings>
</configuration>